
h1 {
    color: blue;
}

heading_a{
    font-size: 24px;
    color: #c96262;
}
heading_b{
    font-size: 24px;
    color: #c96262;
}

heading_c{
    font-size: 24px;
    color: #c96262;
}


.admonition-note::before {
    content: "π–‹ "; /* λ…ΈνΈ μ•„μ΄μ½ */
    font-size: 1.2em;
    margin-right: 0.5em;
}
.admonition-tip::before {
    content: "π’΅ "; /* ν μ•„μ΄μ½ */
    font-size: 1.2em;
    margin-right: 0.5em;
}
.admonition-warning::before {
    content: "β  "; /* κ²½κ³  μ•„μ΄μ½ */
    font-size: 1.2em;
    margin-right: 0.5em;
}
